<div class="container">
<div class="row" style="text-align: center">
  <div class="col allblogs">
     All Blogs
  </div>
</div>
<br/><br/><br/><br/>
<div class="row" *ngIf="allBlogs.length>0">
   <div *ngFor ="let blog of allBlogs" class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="images/Passport.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{blog.title | uppercase}}</h5>
        <p class="card-text">
          {{blog.lastModified | date}}<br/>
          {{blog.created | date}}<br/>
          {{blog.auther}}<br/>
          {{blog.category}}<br/>
        </p>
        <a [routerLink]="['/blogView',blog.blogId]" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
   </div>
<!--
   <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's 
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
   </div>

   <div class="col-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and
           make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
   </div>-->

</div>





</div>